@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
   
}
img{
    width: 100%;
    height: auto;
}
.conteiner{
    display: flex;
    
}
.capa{
    position: absolute;
    width: 100%;
    height: auto;
    
}
.star{
    position: absolute;
    width: 333px;
    height: auto;
    top: 323px;
    left: 256px;
}
.wars{
    position: absolute;
    width: 333px;
    height: auto;
    top: 323px;
    left: 872px;
}
.kylo{
    position: absolute;
    width: 70%;
    height: auto;
    top: 0;
    margin-left: 138px;
}
.legião{
    position: absolute;
    width: 126px;
    height: auto;
    top: 450px;
    margin-left: 1050px; 
}
.soldado{
    top: 586px;
    left: -0.5px;
    width: 504px;
    height: auto;
    position: absolute;

}
.img-strom-red{    
    position: absolute;
    top: 529px;
    left: 170px;
    width: 298px;
    height: auto;
}
.grupo-red{
    position: absolute;
    color: white;
    width: 130px;
    height: auto;
    font-size: 2.1rem;
    left: 250px;
    top: 600px;
    text-align: center;
    line-height: 1.5;
    font-family: 'Open Sans', bold;
}
.grupro-red2{
    position: absolute;
    top: 760px;
    left: 190px;
    width: 263px;
    height: auto;
    color: white;
    text-align: left;
    font-family: 'Open Sans', regular;
    letter-spacing: 0px;
    font-size: 1rem;
    opacity: 1;
}
.but-download{
    position: absolute;
    width: 180px;
    height: 50px;
    top: 870px;
    left: 230px;
    border: 3px solid white;
    border-radius: 5px;
    font-family: 'Open Sans', normal;
    font-size: 1.4rem;
    background-color: inherit;
    color: white;
}
.but-download:hover{
    background-color: white;
    color: red;
    border: 3px solid black;
    border-radius: 5px;
}
.sobre-o-jogo{
    
    display: flex;
    text-align: end;
    position: absolute;
    top: 780px;
    left: 640px;
    width: 658px;
    height: 179px;
}
.line-sobre{
    background-color: black;
    width: 120px;
    height: 3px;
    left: 230px;
    position: absolute;
}
.box-sobre{
    margin-right: 10px;
    margin-top: 15px;
}
.texto-sobre{
    margin-top: 10px;
}
.star-frente-batalha{
    width: 298px;
    height: auto;
    left: 1382px;
    top: 900px;

}
.wrap {
    max-width: 1900px;
    margin: 0 auto;
}    
  
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-lista {
    width: 50%;
    left: calc(35%);
    margin-top: 1050px;
    position: absolute;
    
    
}
.box-lista h2 {
    color: black;
    font-size: 2.5rem;
    text-align: end;
    width: 70%;
}

.box-lista ul {
    width: 70%;
    list-style: none;
}    

.box-lista ul li {
    margin-top: 0.3rem;
    width: 100%;
    padding: 0.5rem;
    list-style: none;
    cursor: pointer;
    color: black;
    font-size: 1.3rem;
    text-align: end; 
}
.box-lista ul li:hover {
    background-color: red;
    color: white;
}
.img-lord-sifh{
    position: absolute;
    margin-top: 970px;
    left: 175px;
    width: 550px;
}
.img-rey{
    position: absolute;
    margin-top: 1050px;
    left:calc(75%) ;
    width: 250px;
}
.box-escuro{
    background-color: #2D2D2D;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1473px;
}
.fundo-escuro{
    width: 85vw;
    padding-top: 8vw;
    position: relative;
    margin: 0 auto;
    
}
.atributos{
    font-size: 2.65vw;
    padding-bottom: 3vw;
    margin-left: 6vw;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    
}
.box-fig{
    display: flex;
    width: 85vw;
}
.box-fig img{
    width: 100%;
}
.fig-1::before, .fig-1::after{
    content: '';
    border: 2px solid white;
    position: absolute;
    width: 4vw;
}    
.fig-1::before{
    top: 0.3vw;
    left: 0.9vw;
    right: 1vw;
}
.fig-1::after{
    bottom: 1.2vw;
    right: 1vw;
}
.fig-1 h3::before{
    content: '';
    border: 2px solid white;
    position: absolute;
    top: -.7vw;
    left: -1.6vw;
    height: 3.5vw;
}
.fig-1 p::after{
    content: '';
    border: 2px solid white;
    position: absolute;
    bottom: 1.2vw;
    right: 1vw;
    height: 3.5vw;
}
.fig-2::before, .fig-2::after{
    content: '';
    border: 2px solid white;
    position: absolute;
    width: 3vw;
    margin: 0;
}
.fig-2::before{
    top: .3vw;
    left: 1.1vw;
    right: 1vw
}
.fig-2::after{
    bottom: 1.2vw;
    right: 1vw;
}
.fig-2 h3::before{
    content: '';
    border: 2px solid white;
    position: absolute;
    height: 2.5vw;
    top: -.7vw;
    left: -1.6vw;
}
.fig-2 p::before{
    content: '';
    border: 2px solid white;
    position: absolute;
    height: 2.5vw;
    bottom: 1.2vw;
    right: 1vw;
}
.fig-media, .fig-grande{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.fig-1, .fig-2{
    width: 100%;
    height: 100%;
    padding: 1vw 3vw 1vw 2.5vw;
    position: absolute;
    top: -505px;
    color: white;
    transition: 1s all;
    background-color: rgb(215, 68, 48, 0.7);
}

